@import url("http://fonts.googleapis.com/css?family=Emblema+One");
@import url("http://fonts.googleapis.com/css?family=Mr+Bedfort");

.page-header h1 {
  font-family: 'Emblema One', cursive;
}

.page-header h1 a {
  color: #000;
}

.page-header h1 a:hover {
  color: #111;
  text-decoration: none;
}

.page-header h1 small {
  font-family: 'Mr Bedfort', cursive;
}

.post {
  margin-bottom: 40px;
}

.post .date {
  font-style: italic;
  margin-bottom: 15px;
}

